/* Reset para tirar margens padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

/* Fundo */
.login {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #E6E9E9; 
}

/* Contêiner principal */
.login-box {
    display: flex; 
    width: 80%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); 
}

/* Lado esquerdo (logo) */
.login-brand {
    flex: 1; 
    background-color: #184B90; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.brand-content {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

/* Lado direito (login)*/
.login-form {
    position: relative;
    flex: 1; 
    background-color: #286892; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px; 
    color: white;
}

/* Avatar */
.avatar-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%; 
    margin-bottom: 0;
}

.avatar-img {
    width: clamp(125px, 6vw, 120px);
    height: auto;
    opacity: 1; 
}

/* Botão de Login com Google */
.login-google {
    font: 600px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    justify-content: center;
}

.google-btn {
    width: clamp(400px, 6vw, 120px);
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px 12px 12px; 
    background-color: #184B90;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    gap: 8px;
}

.google-btn:hover {
    background-color: #142f4b;
}

.google-icon {
    display: inline-block;
    width: 53px;
    height: 53px;
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);
}



/* Responsividade */
@media (max-width: 1160px) {
    .login-box {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        border-radius: 0;
    }

 
    .login-form {
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    .brand-text h1 {
        margin: 0;
        font-size: clamp(2.3rem, 3.5vw, 2.2rem); 
        line-height: 1;
        font-weight: 700;
    }



    .avatar-container,
    .input-group {
        display: none;
    }

    .login-google {
        position: static;
        transform: none;
        width: auto;
    }

    .google-btn {
        width: 290px;
        font-size: 1.5rem;
        padding: 16px 65px 16px 12px;
    }

    .google-btn:hover {
        background-color: #142f4b;
    }
}